---
import BlogUpdatesTable from "../components/BlogUpdatesTable.jsx";
import { getCollection } from "astro:content";
import HomeLayout from "../layout/HomeLayout.astro";

const fromOldPosts = [
  {
    id: "1",
    title: "使用OneDrive的三年经验与不得不知的警告",
    date: "2025-04-24",
    url: "blog/onedrive-experience-and-warnings",
  },
  {
    id: "2",
    title: "PGStudy-群体人工智能Part1-PSO",
    date: "2024-10-25",
    url: "blog/PGStudy-Swarm intelligence",
  }
];
const recentPosts = [{}];

const posts = await getCollection("blog");
---

<HomeLayout title="Deeptcity">
  <body>
    <a href="https://blog.keboe.cn">旧网址备份</a>
    <div style="blod">以下为暂代记录更新的发布页</div>
    <h3>最近更新</h3>
    <BlogUpdatesTable
      posts={posts.map((post) => ({
        id: post.id,
        title: post.data.title,
        date: post.data.date,
        url: `/blog/${post.slug}`,
      }))}
    />

    <h3>从旧BLOG中筛选(整理)</h3>
    <BlogUpdatesTable posts={fromOldPosts} />
  </body>
</HomeLayout>
